<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>URLshortner</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
		<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

	</head>
	<body>
		<div class="container-fluid" id="sag" style="
  align-items: center;
  justify-content: center" >
			<div class="jumbotron text-center">
					<h1 >URL Shortener</h1>
					<p>by Sagnik Chanda(1905568)</p>
				</div>

			<div class="jumbotron text-center">
			<form id="post-form" class="mb-3" style="display: flex text-all">
				{% csrf_token %}
			<input type="text" name="link" id="link" placeholder="Enter URL here">
			<div class="buttons">
				<button type="submit" id="shorten">Shorten</button>
			</div>
			</form>


			<section id="section" ><h2 ></h2></section>
		</div>
</div>
		<script type="text/javascript">
			$(document).on('submit','#post-form',function(e){
				e.preventDefault();

				$.ajax({
					type:'POST',
					url:'/create',
					data:{
						link:$('#link').val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
					},
					success: function(data){
						$('h2').html("localhost:8000/"+data)
					}
				});
			});
		</script>

	</body>
</html>
